@import "variables";
@import "mixins";
@import "tachyons";

/* Variables */
$text-font-family: "Overpass, 'Helvetica Neue', Helvetica, sans-serif";
$gray: #535353;
$lightgray: #e1e1e1;
$orange: #ff6c40;

@font-face {
  font-family: "Overpass";
  src: url("../fonts/overpass-regular.woff2") format("woff2");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@include text-font($text-font-family);
@include headings-font($text-font-family);
@include buttons-font($text-font-family);
@include inputs-font($text-font-family);

body {
  font-size: 16px;
  line-height: 24px;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.container {
  margin: auto;
  max-width: 662px;
  padding: 0 20px;
}

.post {
  /* post header margins*/
  $post-header-margin: 15px;
  &.line {
    margin-bottom: $post-header-margin;
  }
  div {
    margin-top: $post-header-margin;

    > p:last-child {
      margin-bottom: $post-header-margin;
    }
  }

  /* separete post list from paginator */
  &:last-child {
    margin-bottom: 80px;
  }

  h1 {
    margin: .2rem 0;
    font-size: 22px;
    font-weight: 400;
    position: relative;
    line-height: 24px !important;
  }

  .article-body {
    a, li, p {
      color: var(--main-text-color, #{$gray});
      font-size: 15px;
      font-weight: 400;
    }

    p {
      text-align: justify;
    }

    a:not(.zola-anchor) {
      border-bottom: 2px solid $lightgray;

      &:hover,
      &:focus {
        border-color: $orange;
      }
    }
  }

  img {
    max-width: 100%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  hr {
    width: 66px;
    height: 7px;
    border: none;

    &:not([class]) {
      &::after { content: "~"; }
      width: min-content;
      height: min-content;
      font-size: 1.25rem;
      font-weight: 700;
      font-family: serif;
    }

    &.wave {
      content: url(../img/separator.png);
      margin-right: 100%;
    }
  }
}

[x-cloak] {
  display: none;
}

del {
  text-decoration-color: lighten($color: $gray, $amount: 40);
}

::selection {
  color: white;
  background-color: lighten($color: $orange, $amount: 20)
}
.orange {
  color: $orange;
}
a {
  outline: none;
  color: $orange;
  text-decoration: none;
}
a:hover {
  color: $orange;
  transition: all 0.2s ease-in-out !important;
}

.article-body {
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 20px;
    margin-top: -20px;

    .zola-anchor {
      display: none;
      margin-left: .5rem;
      opacity: .4;
      font-size: 80%;
      line-height: 90%;

      &::after {
        content: "§";
      }
    }
    &:hover .zola-anchor { display: initial; }
  }
}

.pagination {
  ul {
    width: 100%;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;

    li {
      span {
        font-size: 11px;
        text-transform: uppercase
      }

      &.next {
        text-align: right;
      }

      display: flex;
      flex-direction: column;
      color: $color-text;
      list-style-type: none;
    }
  }
}

/* Navigation */
.main-nav {
  padding-bottom: 25px;
  padding-top: 30px;
  background-color: var(--main-background-color, #fff);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: relative;

  nav {
    ul {
      margin: 0;
      padding: 0;
      justify-content: space-evenly;
    }

    @media only #{$breakpoint-not-small} {
      .search {
        margin-right: 2.5rem;
      }

      ul > *:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }
}

samp,
code {
  display: initial;
  background: transparent;
}

pre {
  overflow-wrap: break-word;
  font-family: $monospace-font-family;

  &,
  code
  samp {
    font-size: 87.5%;
    background: var(--main-card-color, #f8f8f8) !important;
    padding: 1rem;
    display: block;
    line-height: 20px;
    white-space: pre-wrap;
  }

  span {
    color: rgba(83,83,83,.85);
  }
}

.logo {
  width: 110px;

  a {
    font-weight: 700;
    font-size: 27px;
    letter-spacing: -2px;
    position: absolute;
    transform-origin: left center;
    transform: scale(1.5) translateY(-3px);
    line-height: 120%;
    @include text-bg;
    position: absolute;
    transform-origin: left center;
    transform: scale(1.5) translateY(-3px);
    filter: hue-rotate(90deg) brightness(180%);
    line-height: 120%;
  }
}

.flex-grow {
  flex-grow: 1;
}

.blurred {
  filter: blur(4px);
}

.sensitive-content-actions {
  // just needs a flex parent
  position: relative;
  z-index: 1;
  align-self: center;
  left: 50%;
  transform: translateY(calc(-50% - 25px));

  button {
    outline: none !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
  }
}

.foot-post {
  .foot-post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 700;

    & > span:first-child {
      content: url(../img/separator.png);
      height: min-content;
    }

    .chip {
      color: #535353;
    }

    a {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.chip {
  background-color: #eef0f3;
  &.category {
    background-color: lighten($color: $orange, $amount: 30);
  }

	align-items: center;
	border-radius: 5rem;
	display: inline-flex;
	display: -ms-inline-flexbox;
	-ms-flex-align: center;
	font-size: 90%;
	height: 1.2rem;
	line-height: .8rem;
	margin: .1rem;
	max-width: 320px;
	overflow: hidden;
	padding: .2rem .4rem;
	text-decoration: none;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}

/* Blockquotes */
blockquote {
  border-left: 3px solid $orange;
  color: #1a1a1a;
  font-size: 1.25em;
  font-style: italic;
  margin: 1.1em -2.2em;
  padding: 1em 2em;
  position: relative;
  transition: .2s border ease-in-out;
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;
    height: 2em;
    width: 5px;
    margin-top: -1em;
  }
  &:after {
    position: absolute;
    top: 50%;
    left: -0.5em;
    font-family: "Ionicons";
    font-style: normal;
    line-height: 1em;
    text-align: center;
    text-indent: -2px;
    width: 1em;
    margin-top: -0.5em;
    transition: .2s all ease-in-out, .4s transform ease-in-out;
  }
  &.format:before, &.format:after { display: none; }
  &.book:after { content: "\f12e"; }
  &.podcast:after { content: "\f32d"; }
  &.lyrics:after { content: "\f333"; }
  &.favorite:after { content: "\f384"; }
  &:active:after { transform: rotateY(360deg); }
    
  cite {
    display: block;
    font-size: 0.75em;
    line-height: 1.8em;
    margin-top: 1em;
  }
}

/* Footnotes */
.footnote-definition {
  text-align: left;
  display: inline-flex;
  float: none;

  sup {
    line-height: .9;
    top: 0;
  }

  p {
    font-size: 80%;
    margin: 0;
  }

  p + & {
    border-top: 1px solid lightgray;
    padding-top: 15px;
    width: 100%;
  }

  & + h2,
  & + h3,
  & + h4 {
    margin-top: 0px;
  }
}

/* Footer */
footer {
  margin-top: 40px;
  .mention {
    font-size: 70%;
  }
}

/* Search */
.search {
	position: relative;
  flex-grow: 1;

  .search__input {
    width: auto;
    transition: width 0.3s;
    border: none;
    outline: none;
    margin: 0;
    color: #2c3e50;
    line-height: initial;
  }

  .search__icon {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    background: white;
    fill: currentColor;
  }

  &:focus-within,
  &:focus {
    .search__results__items {
      display: inherit;
    }
  }

  .search__results__items {
    display: none;
    top: 25px;
    left: -10px;
    overflow-y: auto;
    min-width: 300px;
    width: 50vw;
    max-height: 50vh;

    :last-child {
      margin-bottom: .5rem;
    }

    li {
      margin: 0 1rem;
      list-style: none;
      color: $gray;
    }

    .search__results__item a:focus {
      outline: 1px solid;
    }
  }
}

/* Responsive */
@media only screen and (max-width: 767px) {
  .main-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 767px) {
  #navbar-1 ul li {
    margin-left: 1em;
  }
}
@media only screen and (min-width: 1000px) {
  #map {
    position: fixed;
    top: 100px;
    right: 5vw;
    width: 10vw;
    height: 80vh;
    z-index: 100;
  }
}
@media (max-width: 1000px) {
  #map {
    display: none;
  }
}

@media only print {
  @import 'print';
}
