<figure {% if class %}class="{{ class }}"{% endif %}>
    <a href="{% if link %}{{ link }}{% else %}{{ src }}{% endif %}">
        <img src="{{ src }}" alt="{{ alt }}" {% if border %}style="border:{{ border }}px solid black"{% endif %}/>
    </a>
    <figcaption>
        {% if title %}<h4>{{ title }}</h4>{% endif %}
        <p>
        {{ body }}
        </p> 
    </figcaption>
</figure>
