<div class="flex flex-column">
  <picture class="flex" x-data="{ open: {% if sensitive %}false{% else %}true{% endif %} }">
    <div class="js-only sensitive-content-actions" x-show="!open">
      <button class="f6 link dim br1 ba ph3 pv2 mb2 bg-light-gray" @click="open = true">view sensitive content</button>
    </div>

    {% if webp %}<source srcset="{{ path ~ '.webp' }}" type="image/webp">{% endif %}
    {% if png %}
      <source srcset="{{ path ~ '.png' }}" type="image/png">
      <img :class="{ 'blurred': !open }" src="{{ path ~ '.png' }}" {% if style %}style="{{ style }}"{% endif %}/>
    {% endif %}
    {% if jpg %}
      <source srcset="{{ path ~ '.jpg' }}" type="image/jpeg">
      <img :class="{ 'blurred': !open }" src="{{ path ~ '.jpg' }}" {% if style %}style="{{ style }}"{% endif %}/>
    {% endif %}
  </picture>

  {% if caption %}
  <figcaption class="f7 black-40 tc">{{ caption }}</figcaption>
  {% endif %}
</div>