{% extends "index.html" %}

{% block title -%}
<title>404 | {{config.title}}</title>
{%- endblock title %}

{% block content %}
<section class="vh-50">
  <div class="tc ph5">
    <h1 class="f1 f-headline-l code mb3 fw9 dib tracked-tight orange">404</h1>
    <h2 class="tc fw1">Sorry, we can't find the cat you are looking for.</h2>
  </div>
</section>
{%- endblock content %}