<script src="https://cdn.jsdelivr.net/npm/@w3c-socialcg-aptf/apcomponents/dist/apcomponents/apcomponents.js"></script>

<as-note id="note" expanded=""/>

<style>
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
</style>

<script>
const note = document.getElementById('note')
note.url = "{{ page.extra.mastodon | safe }}"
note.useCorsProxy = true
</script>

