{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block title -%}
<title>{{page.title}} | {{config.title}}'s blog</title>
<meta property="og:title" content="{{page.title}}" />
<meta name="twitter:title" content="{{page.title}} | {{config.title}}" />
{% include 'article_jsonld.html' %}
{%- endblock title %}

{% block description -%}
<meta name="description" content="{{ page.description }} | {{ config.description }}">
<meta property="og:description" content="{{ page.description }} | {{ config.description }}">
{%- endblock description %}

{% block scripts -%}
<script src="{{ get_url(path='js/pagemap-0.4.0.min.js') }}" {# integrity="sha256-{{ get_file_hash(path='js/pagemap-0.4.0.min.js', sha_type=256) }}" #}></script>
<script>
pagemap(document.querySelector('#map'), {
  viewport: null,
  styles: {
    'header,footer,section,article,iframe': 'rgba(0,0,0,0.08)',
    'h1,a': 'rgba(0,0,0,0.10)',
    'h2,h3,h4': 'rgba(0,0,0,0.08)'
  },
  back: 'rgba(0,0,0,0.02)',
  view: 'rgba(0,0,0,0.05)',
  drag: 'rgba(0,0,0,0.10)',
  interval: null
});
</script>
{{ super() }}
{%- endblock scripts %}

{% block content %}
<canvas class="js-only" id="map"></canvas>

<article class="h-entry post">
  <header>
    {{ macros::title(page=page, link=false) }}
    <hr class="wave"/>
  </header>

  {% set toc = page.toc %}
  {% if toc and page.extra.toc -%}
  <section class="fr mt4 w-50">
    <h4 class="tc">Contents</h4>
    <nav id="TableOfContents">
      <ul>
        {% for h1 in toc %}
        <li>
          <a href="{{h1.permalink | safe}}" class="toc-link">{{ h1.title }}</a>
          {% if h1.children %}
          <ul>
            {% for h2 in h1.children %}
            <li>
              <a href="{{h2.permalink | safe}}" class="toc-link">{{ h2.title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </section>
  {%- endif %}

  <section class="mt4 article-body e-content">
    {{ page.content | safe }}
  </section>

  <div class="mt4 foot-post" x-data="{ cite: false, glossary: false, comment: true }">
    <div class="foot-post__header">
      <span></span>
      <div>
        {% if page.taxonomies -%}
          {% for taxonomy in page.taxonomies.categories -%}<a class="chip category p-category" href="{{ get_taxonomy_url(kind='categories', name=taxonomy) }}">{{ taxonomy | lower }}</a>{%- endfor %}{% for taxonomy in page.taxonomies.tags -%}<a class="chip p-category" href="{{ get_taxonomy_url(kind='tags', name=taxonomy) }}">{{ taxonomy | lower }}</a>{%- endfor %}
        {%- endif %}
        <a class="ml2 fw4 black-40" href="{{ get_url(path=page.path, trailing_slash=false) ~ '.md' }}">source</a>
        <a class="ml2 fw4 black-40 js-only" @click="cite = !cite; glossary = false; comment = false">cite</a>
        {% if page.extra.glossary -%}
        <a class="ml2 fw4 black-40 js-only" @click="glossary = !glossary; cite = false; comment = false">glossary</a>
        {%- endif %}
        {% if page.extra.mastodon -%}
        <a class="ml2 fw4 black-40 js-only" @click="glossary = false; cite = false; comment = !comment">comment</a>
        {%- endif %}
      </div>
    </div>

    <div class="foot-post__content">
      {% if page.extra.glossary -%}
      <div x-show.transition="glossary">
        <h4 class="f6 fw6">Glossary</h4>
        {% for entry in page.extra.glossary -%}
        <dl class="f6 lh-title mv2">
          <dt class="dib b">{{ entry.word }}</dt>
          <dd class="dib ml0 gray">{{ entry.def }}</dd>
        </dl>
        {%- endfor %}
      </div>
      {%- endif %}
    </div>

    <div x-show.transition="cite">
      <h4 class="f6 fw6">Cite this article</h4>
      <div class="black-60">{% include 'article_bib.html' %}</div>
    </div>

    {% if page.extra.mastodon -%}
    <div x-show.transition="comment">
      <h4 class="f6 fw6">Comment this article on the Fediverse</h4>
      <div style="display: grid;">
        <div class="center">{% include 'article_note.html' %}</div>
      </div>
    </div>
    {%- endif %}
  </div>

  <footer>
    <nav class="pagination">
      <ul>
        {% if page.earlier -%}
        <li class="mr3 prev">
          <span class="label tag">Prev</span>
          <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
        </li>
        {%- endif %}

        {% if page.later -%}
        <li class="ml3 next">
          <span class="label tag">Next</span>
          <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
        </li>
        {%- endif %}
      </ul>
    </nav>
  </footer>
</article>
{%- endblock content %}