<a style="cursor: pointer;" class="js-only" id="theme-toggle" onclick="modeSwitcher()">
  <i class="fa fa-sun-o ml2" style="font-size: .8rem;" aria-hidden="true"></i>
  <i class="fa fa-moon ml2" style="font-size: .8rem;" aria-hidden="true"></i>
</a>

<style>
html {
  content: "light";
}

@media (prefers-color-scheme: dark) {
  html {
    content: "dark";
  }
}

html:not([data-theme="dark"]) #theme-toggle i:nth-child(2),
html[data-theme="dark"] #theme-toggle i:nth-child(1) {
  display: none;
}

html[data-theme="dark"] {
  --main-background-color: hsl(0, 0%, 10%);
  --main-card-color: hsl(0, 0%, 90%);
  --main-text-color: hsl(0, 10%, 80%);
}
html[data-theme="dark"] .black-40 {
  color: rgba(255, 249, 237, 0.4);
}
html[data-theme="dark"] .fa,
html[data-theme="dark"] .black-60:not(.orange) {
  color: #acacac;
}
html[data-theme="dark"] h1,
html[data-theme="dark"] h2,
html[data-theme="dark"] h3,
html[data-theme="dark"] h4,
html[data-theme="dark"] h5,
html[data-theme="dark"] h6,
html[data-theme="dark"] .black {
  color: #fff9ed;
}
</style>

<script>
const theme = localStorage.getItem('theme');
if (theme === "dark") {
  document.documentElement.setAttribute('data-theme', 'dark');
}

const userPrefers = getComputedStyle(document.documentElement).getPropertyValue('content');

if (theme === "dark") {
  document.getElementById("theme-toggle").setAttribute("title", "Switch to light mode");
} else if (theme === "light") {
  document.getElementById("theme-toggle").setAttribute("title", "Switch to dark mode");
} else if  (userPrefers === "dark") {
  document.documentElement.setAttribute('data-theme', 'dark');
  window.localStorage.setItem('theme', 'dark');
  document.getElementById("theme-toggle").setAttribute("title", "Switch to light mode");
} else {
  document.documentElement.setAttribute('data-theme', 'light');
  window.localStorage.setItem('theme', 'light');
  document.getElementById("theme-toggle").setAttribute("title", "Switch to dark mode");
}

function modeSwitcher() {
  let currentMode = document.documentElement.getAttribute('data-theme');
  if (currentMode === "dark") {
    document.documentElement.setAttribute('data-theme', 'light');
    window.localStorage.setItem('theme', 'light');
    document.getElementById("theme-toggle").setAttribute("title", "Switch to dark mode");
  } else {
    document.documentElement.setAttribute('data-theme', 'dark');
    window.localStorage.setItem('theme', 'dark');
    document.getElementById("theme-toggle").setAttribute("title", "Switch to light mode");
  }
}
</script>