<link rel="apple-touch-icon" sizes="76x76" href="{{ get_url(path='img/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='img/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='img/favicon-16x16.png') }}">
<link rel="manifest" href="{{ get_url(path='site.webmanifest') }}">
<link rel="mask-icon" href="{{ get_url(path='img/safari-pinned-tab.svg') }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">