{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

    {% block title -%}
    <title>{{ config.title }}</title>
    <meta property="og:title" content="{{ config.title }}" />
    <meta name="twitter:title" content="{{ config.title }}" />
    {% include 'index_jsonld.html' %}
    {%- endblock title %}

    {% include 'icons.html' %}
    <link rel="me" href="https://miaou.drycat.fr/@rigelk" />

    {% block description -%}
    <meta name="description" content="{{ config.description }}">
    <meta property="og:description" content="{{ config.description }}">
    {%- endblock description %}

    {% block css -%}
    <link rel="stylesheet" href="{{ get_url(path='screen.css') }}" {# integrity="sha256-{{ get_file_hash(path='screen.css', sha_type=256) }}" #} />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    {%- endblock css %}

    {% block syndication %}
    <link rel="alternate" type="application/rss+xml" title="Articles" href="{{ get_url(path='rss.xml', trailing_slash=false) }}">
    {%- endblock syndication %}
  </head>
  <body>
    {% include 'navigation.html' %}

    <div class="content mt5">
      <main class="container">
        {% block content -%}
          {{ macros::list_articles(pages=paginator.pages) }}
          {{ macros::pagination(p=paginator) }}
        {%- endblock content %}
      </main>
    </div>

    <footer>
      <div class="container">
        <p class="mention tc">
          <a href="{{ get_url(path='rss.xml') }}">
            <i class="fa fa-rss" style="font-size: .8rem;" aria-hidden="true"></i>
          </a>
          <a href="https://miaou.drycat.fr/@rigelk">
            <i class="fa fa-mastodon ml2" style="font-size: .8rem;" aria-hidden="true"></i>
          </a>
          <a href="https://framagit.org/rigelk">
            <i class="fa fa-gitlab ml2" style="font-size: .8rem;" aria-hidden="true"></i>
          </a>
          <a href="https://git.rigelk.eu/rigelk?tab=activity">
            <i class="fa fa-gitea ml2" style="font-size: .8rem;" aria-hidden="true"></i>
          </a>
          <a href="https://aur.archlinux.org/packages/?O=0&SeB=c&K=rigelk&outdated=&SB=n&SO=a&PP=50">
            <i class="fa fa-archlinux ml2" style="font-size: .8rem;" aria-hidden="true"></i>
          </a>
          {% include 'dark.html' %}
        </p>
        <p class="mention tc">
          content <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license nofollow">cc-by-nc-sa/4.0</a> 2015-{{ now() | date(format="%Y") }} © rigelk
        </p>
      </div>
    </footer>

    <noscript>
      <style type="text/css">
        .js-only { display: none; }
      </style>
    </noscript>

    <!--- Additional scripts -->
    {% block scripts %}
    <script type="module" src="https://cdn.jsdelivr.net/npm/alpinejs@2.3.1/dist/alpine.js" integrity="sha256-Pra9Lws2BHYZt0Mb6eoDuLchkOaKGd6RPL9zOhVL+iA=" crossorigin="anonymous" defer async></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/alpinejs@2.3.1/dist/alpine-ie11.js" integrity="sha256-nkolIEzmjxew/GoZ1fyKnqXPEttUKyFGm7nyVRQymX4=" crossorigin="anonymous" defer async></script>
    <script type="module" src="{{ get_url(path='js/instant.page-3.0.0.min.js') }}" {# integrity="sha256-{{ get_file_hash(path='js/instant.page-3.0.0.min.js', sha_type=256) }}" #} defer async></script>
    <script src="//shynet.rigelk.eu/ingress/07816cfa-39e9-40ee-9d44-30c42cd7470a/script.js"></script>
    <noscript><img src="//shynet.rigelk.eu/ingress/07816cfa-39e9-40ee-9d44-30c42cd7470a/pixel.gif"></noscript>
    {% endblock scripts %}

  </body>
</html>
