{% macro title(page, link=true) %}
<hr class="wave"/>
{% if link %}<a href="{{ page.permalink }}" class="db black u-url">{% endif %}
<div class="w-100">
  <div class="fw7 f7 black-40">
    <time class="dt-published" datetime="{{ page.date | date(format='%F') | safe }}">
      {{ page.date | date(format="%B %d, %Y") }}
    </time>
    {% if page.extra.author -%}{{ " · " }} by {{ page.extra.author}}{%- endif %}
    {{ " · " }} {{ page.reading_time }} min read
  </div>
  <h1 class="p-name">{{ page.title }}</h1>
  <span class="p-author dn">Rigel Kent</span>
  <p class="black-60 f6">
    {% if page.description %}
      {{ page.description }}
    {% endif %}
    {% if page.draft -%}<span class="ml2 fw6 chip">draft</span>{%- endif %}
  </p>
</div>
{% if link %}</a>{% endif %}
{% endmacro title %}

{% macro pagination(p) %}
  <nav class="cf pv3 pv4-ns" data-name="pagination-next-prev">
    {% if p.previous -%}
    <a class="fl dib link dim black f6 f5-ns b pa2" href="{{ p.previous }}" title="Previous">&larr; Previous</a>
    {%- endif %}

    {% if p.next -%}
    <a class="fr dib link dim black f6 f5-ns b pa2" href="{{ p.next }}" title="Next">Next &rarr;</a>
    {%- endif %}
  </nav>
{% endmacro pagination %}

{% macro list_articles(pages) %}
  {% for page in pages %}
    <article class="h-entry post line">
      {{ macros::title(page=page) }}
    </article>
  {% endfor %}
{% endmacro list_articles %}

{% macro list(terms) %}
<section>
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        {% if terms %}
        <div class="list box">
          {% for term in terms %}
          <a href="{{ term.permalink | safe }}">
            <span class="tag is-large is-primary">{{ term.name }}({{ term.pages | length }})</span>
          </a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endmacro list %}