{% if config.extra.menu %}
<div class="main-nav">
  <div class="container">
    <header class="flex justify-between">
      <nav class="logo mr2">
        <a href="{{ get_url(path='/') }}">{{ config.title }}</a>
      </nav>

      <nav class="flex flex-grow justify-end align-center">
        {# {% include 'search.html' %} #}

        <ul class="flex db-ns">
          {% if config.extra.menu %}
          {% for item in config.extra.menu %}
            {% set item_url = item.url | replace(from="$BASE_URL", to=config.base_url) %}
            {% set item_url = item_url ~ '/' %}

            {% set on_item = current_url and item_url == current_url %}
            {% if current_url and not on_item and item.name == "Blog" %}
              {% set on_item = current_url is containing("blog/") or current_url is containing(config.base_url ~ "/page") %}
            {% endif %}
            <a
              itemprop="url"
              class="black-60 ml3 {% if on_item %}orange{% endif %}"
              href="{{ item.url | safe | replace(from='$BASE_URL', to=config.base_url) }}/"
            >
              <span itemprop="name">{{ item.name }}</span>
            </a>
          {% endfor %}
          {% endif %}
        </ul>
      </nav>
    </header>
  </div>
</div>
{% endif %}
