{% extends "index.html" %}

{% block title -%}
<title>{{page.title}} | {{config.title}}</title>
<meta property="og:title" content="{{page.title}} | {{config.title}}" />
<meta name="twitter:title" content="{{page.title}} | {{config.title}}" />
{%- endblock title %}

{% block content %}
<article class="post">
  <section class="mt5 article-body">
    {{ page.content | safe }}
  </section>
</article>
{%- endblock content %}