{% extends "page.html" %}

{% block scripts -%}
<link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css" crossorigin="anonymous"/>
<script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>
<script>
  GitHubCalendar("#calendar", "rigelk", { responsive: true });
</script>
{{ super() }}
{%- endblock scripts %}

{% block content %}

<div class="w-100 mb5 inline-flex" style="justify-content: space-evenly;">
  <a class="no-underline near-white bg-animate bg-near-black hover-bg-gray hover-white grow inline-flex items-center ma2 tc br2 pa2" href="https://git.rigelk.eu/rigelk?tab=activity" title="Personal repository and archive">
    <i class="fa fa-gitea ml1" style="font-size: 1.5rem;" aria-hidden="true"></i>
    <span class="f6 ml2 pr2 pt1">Gitea</span>
  </a>
  <a class="no-underline near-white bg-animate bg-near-black hover-bg-gray hover-white grow inline-flex items-center ma2 tc br2 pa2" href="https://framagit.org/rigelk/" title="Work repository">
    <i class="fa fa-gitlab ml1" style="font-size: 1.5rem;" aria-hidden="true"></i>
    <span class="f6 ml2 pr2 pt1">Framagit</span>
  </a>
</div>

<div class="js-only" id="calendar"></div>
{{ super() }}
{%- endblock content %}