<div class="js-only dn db-ns search" x-data="context()" :class="{ 'open': open }">
  <form x-on:submit.prevent>
    <input
      class="search__input" placeholder="Search..." type="search" value=""
      x-show="open" x-cloak
      x-ref="search" x-on:input.debounce="doSearch()" @keydown.enter.debounce="doSearch()"
    >
    <span class="search__icon black-60" @click="
      if (!init) {
        loadScript('{{ get_url(path='elasticlunr.min.js') }}');
        loadScript('{{ get_url(path='search_index.en.js') }}')
          .then(_ => init = open = true)
          .then(_ => initSearch($refs.search))
          .then(_ => $nextTick(() => { $refs.search.focus() }))
      } else {
        open = true
        $refs.search.focus()
        doSearch()
      }
      ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="90%" height="90%">
        <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"/>
      </svg>
    </span>
  </form>
  <div class="search__results relative">
    <div class="search__results__items absolute bg-white bb bl br b--near-white br3 br--bottom" tabindex="-1"></div>
  </div>
</div>

<script>
  function context () {
    return {
      init: false,
      open: false
    }
  }

  function initSearch ($searchInput) {
    const $searchResults = document.querySelector(".search__results")
    const $searchResultsItems = document.querySelector(".search__results__items")
    const MAX_ITEMS = 10

    const options = {
      bool: "AND",
      fields: {
        title: {boost: 2},
        body: {boost: 1},
      }
    }
    let currentTerm = ""
    const index = elasticlunr.Index.load(window.searchIndex)

    doSearch = () => {
      const term = $searchInput.value.trim()
      if (term === currentTerm || !index) {
        return
      }
      $searchResultsItems.innerHTML = ""
      if (term === "") {
        return
      }

      const results = index.search(term, options)
      if (results.length === 0) {
        return
      }

      currentTerm = term
      for (var i = 0; i < Math.min(results.length, MAX_ITEMS); i++) {
        var item = document.createElement("li")
        item.innerHTML = formatSearchResultItem(results[i], term.split(" "))
        $searchResultsItems.appendChild(item)
      }
    }
  }

  function formatSearchResultItem(item, terms) {
    return '<div class="search__results__item">'
    + `<a href="${item.ref}">${item.doc.title}</a>`
    + `<div>${makeTeaser(item.doc.body, terms)}</div>`
    + '</div>'
  }

  function makeTeaser(body, terms) {
    var TERM_WEIGHT = 40
    var NORMAL_WORD_WEIGHT = 2
    var FIRST_WORD_WEIGHT = 8
    var TEASER_MAX_WORDS = 30

    var stemmedTerms = terms.map(function (w) {
      return elasticlunr.stemmer(w.toLowerCase())
    })
    var termFound = false
    var index = 0
    var weighted = []  // contains elements of ["word", weight, index_in_document]

    // split in sentences, then words
    var sentences = body.toLowerCase().split(". ")

    for (var i in sentences) {
      var words = sentences[i].split(" ")
      var value = FIRST_WORD_WEIGHT

      for (var j in words) {
        var word = words[j]

        if (word.length > 0) {
          for (var k in stemmedTerms) {
            if (elasticlunr.stemmer(word).startsWith(stemmedTerms[k])) {
              value = TERM_WEIGHT
              termFound = true
            }
          }
          weighted.push([word, value, index])
          value = NORMAL_WORD_WEIGHT
        }

        index += word.length
        index += 1  // ' ' or '.' if last word in sentence
      }

      index += 1  // because we split at a two-char boundary '. '
    }

    if (weighted.length === 0) {
      return body
    }

    var windowWeights = []
    var windowSize = Math.min(weighted.length, TEASER_MAX_WORDS)
    // We add a window with all the weights first
    var curSum = 0
    for (var i = 0; i < windowSize; i++) {
      curSum += weighted[i][1]
    }
    windowWeights.push(curSum)

    for (var i = 0; i < weighted.length - windowSize; i++) {
      curSum -= weighted[i][1]
      curSum += weighted[i + windowSize][1]
      windowWeights.push(curSum)
    }

    // If we didn't find the term, just pick the first window
    var maxSumIndex = 0
    if (termFound) {
      var maxFound = 0
      // backwards
      for (var i = windowWeights.length - 1; i >= 0; i--) {
        if (windowWeights[i] > maxFound) {
          maxFound = windowWeights[i]
          maxSumIndex = i
        }
      }
    }

    var teaser = []
    var startIndex = weighted[maxSumIndex][2]
    for (var i = maxSumIndex; i < maxSumIndex + windowSize; i++) {
      var word = weighted[i]
      if (startIndex < word[2]) {
        // missing text from index to start of `word`
        teaser.push(body.substring(startIndex, word[2]))
        startIndex = word[2]
      }

      // add <em/> around search terms
      if (word[1] === TERM_WEIGHT) {
        teaser.push("<b>")
      }
      startIndex = word[2] + word[0].length
      teaser.push(body.substring(word[2], startIndex))

      if (word[1] === TERM_WEIGHT) {
        teaser.push("</b>")
      }
    }
    teaser.push("…")
    return teaser.join("")
  }

  // utils
  function loadScript (src) {
    return new Promise(function (resolve, reject) {
        var s
        s = document.createElement('script')
        s.src = src
        s.onload = resolve
        s.onerror = reject
        document.head.appendChild(s)
    })
  }
</script>