{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block content %}
  <div class="fw6 mb5">{{ term.pages | length }} <span class="chip {% if taxonomy.name == 'categories' %}category{% endif %}">{{ term.name }}</span> articles</div>

  {% if paginator %}
  {{ macros::list_articles(pages=paginator.pages) }}
  {{ macros::pagination(p=paginator) }}
  {% else %}
  {{ macros::list_articles(pages=term.pages) }}
  {{ macros::pagination(p=term) }}
  {% endif %}
{% endblock content %}